p{
    background-color: aquamarine;
    color: black;
    margin: 20px;
    border: 10px;
    border-radius: 20px;
    padding: 10px;
    font-size: 55px;
}
h1{
    text-align: center;
    color: burlywood;
}
h3{
    color: chartreuse;
}