
h1{
    color: burlywood;
    }
#greeting{
    color: chartreuse;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family:cursive;
}
.description{
    background-color: rgb(184, 167, 11);
    font-size: 30px;
    text-align: justify;
    padding: 20px;
    border: 10px;
    border-radius: 20px;
    color: crimson;
}
h3{
    color:gold;
    background-color:yellowgreen;
    text-align: center; 
    font-size: 60px;

}
ol{
    color:coral;
    font-size: 40px;
}
h4{
    color: limegreen;
    font-size: 30px;
}
input{
    color: darkgreen;
    font-size: 30px;
}
h5{
    font-weight: 900;
    color: chartreuse;
    font-size:30px ;

}