
h1{
    color: burlywood;
    }
#greeting{
    color: chartreuse;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family:cursive;
}
.description{
    background-color: rgb(184, 167, 11);
    font-size: 30px;
    text-align: justify;
    padding: 20px;
    border: 10px;
    border-radius: 20px;
    color: crimson;
}